//General

//Color
$linkColor: #727054;
$linkColorHover: #302f23;

//Font
$titleFont: 'Russo One', sans-serif;
$paragraphFont: 'Raleway', sans-serif;

//Index.css
$shift: 30px;
$shadowColor: #626262;
$placementButton: 30px;
$borderRadiusIndex: 20px;

//tricks/show.css
$colorBubble: #dddddd;
$borderRadiusShow: 15px;

//error/error.css
$marginTopTitle: 50px;
$marginTopBlocks: 100px;

//bouton form suppression media
@mixin button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px black solid;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0 8px black;
  font-size: 20px;
  text-align: center;
}

@mixin form {
  position: absolute;
  top: 13px;
  left: 35px;
}