//General

//Color
$linkColor: #727054;
$linkColorHover: #302f23;

//Font
$titleFont: 'Russo One', sans-serif;
$paragraphFont: 'Raleway', sans-serif;

//Index.css
$shift: 30px;
$shadowColor: #626262;
$placementButton: 30px;
$borderRadiusIndex: 20px;

//tricks/show.css
$colorBubble: #dddddd;
$borderRadiusShow: 15px;

//error/error.css
$marginTopTitle: 50px;
$marginTopBlocks: 100px;