{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - {{ user.pseudo | default('Ajouter un nouvel utilisateur')}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/p6/public/css/admin/user.css" />
{% endblock %}

{% block body %}
    <h1>{{ user.pseudo | default('Ajouter un nouvel utilisateur')}}</h1>

    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
