/* line 1, ../../../sass/user/connection.scss */
button {
  position: absolute;
  right: 15px;
}

/* line 6, ../../../sass/user/connection.scss */
form {
  margin: 20px 0;
}
/* line 9, ../../../sass/user/connection.scss */
form .alert {
  display: block;
}
/* line 11, ../../../sass/user/connection.scss */
form .alert .d-block {
  display: inline-block;
}
