/* line 3, ../../../sass/admin/user.scss */
h1 {
  text-align: center;
}

/* line 7, ../../../sass/admin/user.scss */
h2 {
  text-align: center;
}

/* line 11, ../../../sass/admin/user.scss */
table {
  margin: 30px 0;
}
/* line 14, ../../../sass/admin/user.scss */
table form {
  display: inline-block;
}
