/* line 1, ../../../sass/admin/user.scss */
h1 {
  text-align: center;
}

/* line 5, ../../../sass/admin/user.scss */
h2 {
  text-align: center;
}

/* line 9, ../../../sass/admin/user.scss */
table {
  margin: 30px 0;
}
/* line 12, ../../../sass/admin/user.scss */
table form {
  display: inline-block;
}
