{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Ajouter Trick{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/tricks/show.css" />
{% endblock %}

{% block body %}
    <h1>Ajouter nouvelle Trick</h1>

    {{ form(form) }}
{% endblock %}
