{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - {{ pageTitle }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/p6/public/css/user/connection.css" />
{% endblock %}

{% block body %}
    <h1>{{ pageTitle }}</h1>

    {% if pageType == 'connection' %}
        <div class="row">
            <div class="offset-sm-3 col-sm-6">
                <a href="/p6/enregistrement">Si vous n'avez pas encore de compte, enregistrez-vous</a>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="offset-sm-3 col-sm-6">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
